<!--###TEMPLATE_DEFAULT### begin
	Help template for the default language, english
-->
<!--###SUBJECT### begin -->
LoginMessage - ###USERNAME### hat sich Obj.Nr. ###OBJNR### angesehen.
<!--###SUBJECT### end -->
<!--###MESSAGE### begin -->
Der User ###NAME### mit der eMail-Adresse: ###EMAIL###
hat sich soeben das Objekt: ###OBJNR### angesehen.
Folgende Daten stehen für diesen Benutzer zur Verfügung:
Name: ###NAME###
Benutzername: ###USERNAME###
EMail: ###EMAIL###
Adresse: ###ADDRESS###
Telefon: ###TELEPHONE###
PLZ/Ort: ###ZIP### ###CITY###
Land: ###COUNTRY###
<!--###MESSAGE### end -->
<!--###TEMPLATE_DEFAULT### end -->