<!--###TEMPLATE_DEFAULT### begin
	Help template for the default language, english
-->
<table border="0" cellspacing="0" cellpadding="0">
  <!--###LIST_HEADER### begin -->
  <tr colspan="2"> 
    <td class="tx-mmpropman-pi1-lv2-header">Immobilie der Woche!</td>
  </tr>
  <!--###LIST_HEADER### end -->
  <!--###LIST_ROW### begin -->
  <tr class="tx-mmpropman-pi1-lv2-row"> 
    <td colspan="2" class="tx-mmpropman-pi1-lv2-title">###OBJNR###&nbsp;###TITLE###</td>
  </tr>
  <tr> 
    <td colspan="2"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tx-mmpropman-pi1-lv2-subtable">
        <tr> 
          <td class="tx-mmpropman-pi1-lv2-previewimage">###PREVIEWIMAGE###</td>
          <td class="tx-mmpropman-pi1-lv2-teaser">###TEASER###</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr> 
    <td colspan="2" class="tx-mmpropman-pi1-lv2-footer">Immobilie: ###IMMOTYPE###, Verkaufsart: ###SALESTYPE###, Preiskategorie: ###PRICECATEGORY###</td>
  </tr>
  
    ###EDITPANEL### 
  <!--###LIST_ROW### end -->
</table>
<!--###TEMPLATE_DEFAULT### end -->