<!--###TEMPLATE_DEFAULT### begin
	Help template for the default language, english
-->
<table border="0" cellspacing="0" cellpadding="0">
  <!--###LIST_HEADER### begin -->
  <tr ###HEADERCLASS###> 
    <td>###HEADER_OBJNR###&nbsp;</td>
    <td>###HEADER_DESCRIPTION###&nbsp;</td>
  </tr>
  <!--###LIST_HEADER### end -->
  <!--###LIST_ROW### begin -->
  <tr###ROWCLASS###> 
    <td colspan="2"###TITLE_CLASS###>###OBJNR###&nbsp;###TITLE###</td>
  </tr>
  <tr> 
    <td colspan="2"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0" ###SUBTABLE1CLASS###>
        <tr###ROWCLASS2###> 
          <td###PREVIEWIMAGE_CLASS###>###PREVIEWIMAGE###</td>
          <td###TEASER_CLASS###>###TEASER###</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr ###FOOTERCLASS###> 
    <td colspan="2" ###FOOTERCLASS###>Immobilie: ###IMMOTYPE###, Verkaufsart: ###SALESTYPE###, Preiskategorie: ###PRICECATEGORY###</td>
  </tr>
    ###EDITPANEL### 
  <!--###LIST_ROW### end -->
</table>
<!--###TEMPLATE_DEFAULT### end -->