<!--###TEMPLATE_DEFAULT### begin
	Help template for the default language, english

-->
<table>
	<tr>
		<td>Hallo###TEST1###</td>
		<td>Mike###TEST2###</td>
	</tr>
	<!--###FIELD_ROW### begin -->
	<tr>
		<td ###CLASSFIELNAME###>###FIELD###</td>
		<td ###CLASSFIELDVALUE###>###VALUE###</td>
	</tr>
	<!--###FIELD_ROW### end -->
</table>
<!--###TEMPLATE_DEFAULT### end -->