<!--###TEMPLATE_DEFAULT### begin
	Help template for the default language, english
-->
<H2>###SYS_UID### from table ###SYS_CURRENTTABLE###</H2>
<table border="0" cellspacing="0" cellpadding="0">
  <!--###LIST_COL### begin -->
  <tr ###COLCLASS###> 
    <td>###TITLE###&nbsp;</td>
    <td>###FIELD###&nbsp;</td>
  </tr>
  <!--###LIST_COL### end -->
  <tr> 
    <td>###SYS_LASTUPDATE###&nbsp;</td>
    <td>###SYS_CREATION###&nbsp;</td>
  </tr>
</table>
###SYS_BACKLINK### ###SYS_EDITPANEL###<br>
###SYS_ALLFIELDS###
<!--###TEMPLATE_DEFAULT### end -->