<!--###TEMPLATE_DEFAULT### begin
	Help template for the default language, english
-->
<H2>###FIELD_TITLE###</H2>
<table width="100%" border="0">
  <tr>
    <td align="left" valign="top"><table border="0" cellspacing="0" cellpadding="0" ###TABLECLASS###>
        <!--###LIST_COL### begin -->
        <tr ###COLCLASS###>
          <td>###LABLE###</td>
          <td>###FIELD###</td>
        </tr>
        <!--###LIST_COL### end -->
        <!--###MARKERLINE### begin -->
        <tr ###MARKERCLASS###>
          <td colspan="2"><p>###MARKERTEXT###</p>
          </td>
        </tr>
        <!--###MARKERLINE### end -->
      </table>
    </td>
    <td align="right" valign="top">###IMAGES###</td>
  </tr>
</table>
###SYS_BACKLINK### ###SYS_EDITPANEL###<br>
###SYS_ALLFIELDS###
<!--###TEMPLATE_DEFAULT### end -->
